.center {
  align-items: center;
  justify-content: center;
  text-align: center;
}
#topbar {
  width: 550px;
  max-width: 550px;
  height: 60px;
  max-height: 60px;
  position: fixed;
  top: 20%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}
#gameboard {
  width: 550px;
  max-width: 550px;
  height: 550px;
  max-height: 550px;
  border-color: black;
  border-style: solid;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: block;
}
#rows {
  width: 550px;
  max-width: 550px;
  height: 55px;
  max-height: 55px;
}
.columns {
  width: 55px;
  max-width: 55px;
  height: 55px;
  max-height: 55px;
  background-color: green;
}
#radius {
  position: fixed;
  display: none;
  /*border-radius: 50%;*/
  background-color: rgba(138, 138, 138, 0.5);
  width: 130px;
  max-width: 130px;
  height: 130px;
  max-height: 130px;
}
#mob {
  position: absolute;
  display: block;
  border-radius: 50%;
  width: 20px;
  max-width: 20px;
  height: 20px;
  max-height: 20px;
  background-color: rgba(238, 0, 0, 1);
}
.flex-container {
  display: flex;
  flex-wrap: nowrap;
}
.flex-container > #columns {
  text-align: center;
  line-height: 75px;
}
#path {
  background-color: rgba(255, 255, 0, 0.2);
}
#joke-container {
  margin-top: 8%;
}
#joke--text {
  font-family: Roboto, sans;
  font-size: 18px;
}
